#map 
{
    height: 90vh;
    width: 100vh;
}

.MEGA {
    display: flex;
    justify-content: space-around;
}

.column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.question
{
    font-size: 100px;
}

.counter {
    font-size: 50px;
}

.answer
{
    font-size: 100px;
}

.score {
    border: none;
    resize: none;
    font-size: 100px;
    width: 100%;
    color:#5eeb62
}

.header
{
    background-color: aqua;
    width: auto;
    height: 70px;
    margin: 0;
    padding: 0;
}

.HeaderButton
{
    background-color: #04AA6D;
    color: white;
    padding: 15px 32px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.leerling-card{
    display: flex;
    flex-direction: row;
}
td{
border: 1px solid #000000;
}